## Problem 4 (*optional*) - Parsing daily temperatures

**This is an optional task for those who want more practice.**

This problem is more challenging as we provide only minimal instructions for completing the given tasks. You will need to search through the pandas documentation (and other resources) for help. We will cover data aggregation in more detail during Lesson 6, so this is a good opportunity to get a head start for next week!

In this problem, the aim is to aggregate the hourly temperature data for Helsinki Kumpula and Rovaniemi weather stations to the daily level. Currently, there are (at most) 3 measurements per hour in the data as you can see from the `YR--MODAHRMN` column (Year-Month-Day-Hour-Minute in Greenwich Mean Time (GMT):

```
    USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0  28450  201705010000  31.0  NaN  NaN       -1
1  28450  201705010020  30.0  NaN  NaN       -1
2  28450  201705010050  30.0  NaN  NaN       -1
3  28450  201705010100  31.0  NaN  NaN       -1
4  28450  201705010120  30.0  NaN  NaN       -1
```

The output should contain mean, max, and min Celsius temperatures for each day (for example, one mean temperature value for the 1st of May and so on).

### What to do

- Your task is to summarize the information for each day by aggregating (grouping) the DataFrame.
- The output should be a new DataFrame where you have calculated the mean, max, and min Celsius temperatures for each day separately based on hourly values.
- Repeat the task for the two data sets you created in Problem 2 (May-August temperatures from Rovaniemi and Kumpula).

Don't forget to:

- Include useful comments in your code
- Push your solution to GitHub

### Hint

You can find help from the [Pandas Official documentation](https://pandas.pydata.org/pandas-docs/stable/) and Google. Don't hestiate to ask for tips in Discord!

In [4]:
# YOUR CODE HERE
import pandas as pd
kumpula = pd.read_csv("Kumpula_temps_May_Aug_2017.csv", parse_dates=["YR--MODAHRMN"])

In [17]:
kumpula["Day"] = kumpula["YR--MODAHRMN"].dt.date

In [22]:
kumpula.groupby("Day").aggregate({"Celsius": "mean"}).reset_index()

            Day    Celsius
0    2017-05-01   7.524167
1    2017-05-02   9.699583
2    2017-05-03   9.212917
3    2017-05-04   6.781250
4    2017-05-05  10.323333
..          ...        ...
118  2017-08-27  10.716667
119  2017-08-28  12.003043
120  2017-08-29  14.399167
121  2017-08-30  16.737083
122  2017-08-31  17.107917

[123 rows x 2 columns]