## Problem 4 (*optional*) - Parsing daily temperatures

**This is an optional task for those who want more practice.**

This problem is more challenging as we provide only minimal instructions for completing the given tasks. You will need to search through the pandas documentation (and other resources) for help. We will cover data aggregation in more detail during Lesson 6, so this is a good opportunity to get a head start for next week!

In this problem, the aim is to aggregate the hourly temperature data for Helsinki Kumpula and Rovaniemi weather stations to the daily level. Currently, there are (at most) 3 measurements per hour in the data as you can see from the `YR--MODAHRMN` column (Year-Month-Day-Hour-Minute in Greenwich Mean Time (GMT):

```
    USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0  28450  201705010000  31.0  NaN  NaN       -1
1  28450  201705010020  30.0  NaN  NaN       -1
2  28450  201705010050  30.0  NaN  NaN       -1
3  28450  201705010100  31.0  NaN  NaN       -1
4  28450  201705010120  30.0  NaN  NaN       -1
```

The output should contain mean, max, and min Celsius temperatures for each day (for example, one mean temperature value for the 1st of May and so on).

### What to do

- Your task is to summarize the information for each day by aggregating (grouping) the DataFrame.
- The output should be a new DataFrame where you have calculated the mean, max, and min Celsius temperatures for each day separately based on hourly values.
- Repeat the task for the two data sets you created in Problem 2 (May-August temperatures from Rovaniemi and Kumpula).

Don't forget to:

- Include useful comments in your code
- Push your solution to GitHub

### Hint

You can find help from the [Pandas Official documentation](https://pandas.pydata.org/pandas-docs/stable/) and Google. Don't hestiate to ask for tips in Discord!

In [1]:
# YOUR CODE HERE
import pandas as pd
# Importing data for both stations and parsing "YR--MODAHRMN" as dates
kumpula = pd.read_csv("Kumpula_temps_May_Aug_2017.csv", parse_dates=["YR--MODAHRMN"])
rovaniemi = pd.read_csv("Rovaniemi_temps_May_Aug_2017.csv", parse_dates=["YR--MODAHRMN"])

In [2]:
display(kumpula.head(3))
rovaniemi.head(3)

    USAF        YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0  29980 2017-05-01 00:00:00  37.0  NaN  NaN     2.78
1  29980 2017-05-01 01:00:00  37.0  NaN  NaN     2.78
2  29980 2017-05-01 02:00:00  37.0  NaN  NaN     2.78

    USAF        YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0  28450 2017-05-01 00:00:00  31.0  NaN  NaN    -0.56
1  28450 2017-05-01 00:20:00  30.0  NaN  NaN    -1.11
2  28450 2017-05-01 00:50:00  30.0  NaN  NaN    -1.11

In [3]:
# Creating column with dates (days)
kumpula["Day"] = kumpula["YR--MODAHRMN"].dt.date
rovaniemi["Day"] = rovaniemi["YR--MODAHRMN"].dt.date

In [4]:
# Calculating daily statistics based on hourly data for each day
kumpula_celsius_stats = kumpula.groupby("Day").agg({"Celsius": ["mean", "max", "min"]}).reset_index()
rovaniemi_celsius_stats = rovaniemi.groupby("Day").agg({"Celsius": ["mean", "max", "min"]}).reset_index()

In [5]:
# Displyaing data
display(kumpula_celsius_stats.head(3))
rovaniemi_celsius_stats.head(3)

          Day   Celsius
                   mean    max   min
0  2017-05-01  7.524167  12.22  2.78
1  2017-05-02  9.699583  15.56  1.67
2  2017-05-03  9.212917  13.33  3.89

          Day   Celsius
                   mean   max   min
0  2017-05-01  2.198889  6.67 -1.11
1  2017-05-02  3.433333  7.22  0.56
2  2017-05-03  2.104930  3.89 -1.11